.obsidian
.misc
/impala-app/backend/frames
/impala-app/backend/uploads
/impala-app/backend/venv
/impala-app/backend/__pycache__
/impala-app/backend/outputs
/impala-app/backend/processed_data
/impala-app/backend/exports
/impala-app/backend/projects_assets
/impala-app/backend/routers/__pycache__
/.prod-ready
/impala-app/test-results
