@import "tailwindcss";

@theme {
  --font-sans: "Onest", sans-serif;
  
  --color-accent: #FF763B;
  --color-bg: #FFFFFF;
  --color-bg-item: #EBEBEB;
  --color-done: #32925D;
  --color-process: #FF9D00;
  --color-fail: #CE3131;

  --color-accent-border: #FFBA9D;
  --color-bg-border: #F4F4F4;
  --color-item-border: #969696;
  
  --color-text-accent: #210E01;
  --color-text-main: #161616;
}

body {
  @apply font-sans;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Color Picker Customization - Hide Native Hue */
.customized-saturation-only .react-colorful__hue {
  display: none; /* Kills the horizontal slider */
}

.customized-saturation-only .react-colorful__saturation {
  border-radius: 7px;
  border-bottom: none;
}

/* Match the pointer to your screenshot */
.customized-saturation-only .react-colorful__pointer {
  width: 16px;
  height: 16px;
}